@import url('https://fonts.googleapis.com/css?family=Joti+One');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Joti One', cursive;
}

.card {
    width: 400px;
}

.card_content {
    text-align: center;
    position: relative;
    padding: 200px;
    transition: transform 3s;
    background: #5536;
    transform-style: preserve-3d;
}

.card:hover .card_content {
    transform: rotateY(0.5turn);
}

.card_front,
.card_back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.card_front {
    background: #ccc;
    background-image: url(https://images.unsplash.com/photo-1500259571355-332da5cb07aa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=124d6dd6db2065958f8f5c6f414d7940&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-blend-mode: overlay;
    color: #333;
}

.card_front:before {
    content: '';
    border: 3px solid #333;
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    transform: translateZ(2em);
}

.card_title {
    font-size: 4rem;
    transform: translateZ(5rem);
}

.card_subtitle {
    font-size: 1.5rem;
    transform: translateZ(2rem);
}

.card_back {
    transform: rotateY(0.5turn);
    background-image: url(https://images.unsplash.com/photo-1491833485966-73cfb9ccea53?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=46d77b84b6a50bf258f30d18ed26338d&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    color: #fff;
    font-size: 2rem;
}

.card_body {
    transform: translateZ(2rem);
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    box-shadow: 0 0 30px 10px #333;
}